.contenedorP {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.card {
  width: 25%;
  margin: 0 1em;
  cursor: pointer;
}

.ver-mas {
  width: 40%;
  display: flex;
  margin: auto auto;
  padding-top: 45px;
}