@media only screen and (min-width: 320px) and (max-width: 375px) {
    .grid {
        width:100%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    
    .img-cover-dep {
        width: 100%;
        height: auto;
        margin-right: 0.5em;
    }

    .img-cover-exp {
        width: 100%;
        height: auto;
        margin-right: 0.5em;
    }
    
    .grid-fotos-dep {
        display: none;
    }
    
    .grid-fotos-exp {
        display: none;
    }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    .grid {
        width:100%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    
    .img-cover-dep {
        width: 100%;
        height: auto;
        margin-right: 0.5em;
    }

    .img-cover-exp {
        width: 100%;
        height: auto;
        margin-right: 0.5em;
    }
    
    .grid-fotos-dep {
        display: none;
    }
    
    .grid-fotos-exp {
        display: none;
    }
}

@media only screen and (min-width: 426px) and (max-width: 767px) {
    .grid {
        width:100%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    
    .img-cover-dep {
        width: 100%;
        height: auto;
        margin-right: 0.5em;
    }

    .img-cover-exp {
        width: 100%;
        height: auto;
        margin-right: 0.5em;
    }
    
    .grid-fotos-dep {
        display: none;
    }
    
    .grid-fotos-exp {
        display: none;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .grid {
        width:100%;
        display: flex;
        cursor: pointer;
    }
    
    .cuadro {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .img-cover-dep {
        max-height: 35vh;
        margin-right: 0.5em;
    }

    .img-cover-exp {
        max-height: 40vh;
        margin-right: 0.5em;
    }
    
    .grid-fotos-dep {
        position: relative;
        display: grid;
        max-height: 35vh;
        grid-template-columns: 11em 10px;
    }
    
    .grid-fotos-exp {
        position: relative;
        display: grid;
        max-height: 40vh;
        grid-template-columns: 13.5em 10px;
    }
    
    .img-chica-dep {
        max-height: 17.5vh;
        padding: 3px 0;
    }

    .img-chica-exp {
        max-height: 20vh;
        padding: 3px 0;
    }

    .masfotos {
        position: absolute;
        font-size: 1.1em;
        bottom: 1%;
        left: 100%;
        width: 5em;
        background-color: rgba(14, 12, 12, 0.5);
        border-radius: 5px;
        color: #fff;
        border: none;
        padding: 0.3em;
        margin-bottom: 5px;
        margin-right: 5px;
        text-transform: uppercase;
    }
}

@media only screen and (min-width: 1280px) {
    .grid {
        width:100%;
        display: flex;
        cursor: pointer;
    }
    
    .cuadro {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .img-cover-dep {
        max-height: 45vh;
        margin-right: 0.5em;
    }

    .img-cover-exp {
        max-height: 50vh;
        margin-right: 0.5em;
    }
    
    .grid-fotos-dep {
        position: relative;
        display: grid;
        max-height: 35vh;
        grid-template-columns: 12em 10px;
    }
    
    .grid-fotos-exp {
        position: relative;
        display: grid;
        max-height: 50vh;
        grid-template-columns: 14.5em 10px;
    }
    
    .img-chica-dep {
        max-height: 22vh;
        padding: 3px 0;
    }

    .img-chica-exp {
        max-height: 25vh;
        padding: 3px 0;
    }
    
    .masfotos {
        position: absolute;
        font-size: 1.1em;
        bottom: 1%;
        left: 100%;
        width: 5em;
        background-color: rgba(14, 12, 12, 0.5);
        border-radius: 5px;
        color: #fff;
        border: none;
        padding: 0.3em;
        margin-bottom: 5px;
        margin-right: 5px;
        text-transform: uppercase;
    }
}

@media only screen and (min-width: 1440px) {
    .grid {
        width:100%;
        display: flex;
        cursor: pointer;
    }
    
    .cuadro {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .img-cover-dep {
        max-height: 40vh;
        margin-right: 0.5em;
    }

    .img-cover-exp {
        max-height: 40vh;
        margin-right: 0.5em;
    }
    
    .grid-fotos-dep {
        position: relative;
        display: grid;
        max-height: 35vh;
        grid-template-columns: 11em 10px;
    }
    
    .grid-fotos-dep {
        position: relative;
        display: grid;
        max-height: 40vh;
        grid-template-columns: 17.5em 10px;
    }
    
    .grid-fotos-exp {
        position: relative;
        display: grid;
        max-height: 40vh;
        grid-template-columns: 18.5em 10px;
    }
    
    .img-chica-dep {
        max-height: 20vh;
        padding: 3px 0;
    }

    .img-chica-exp {
        max-height: 20vh;
        padding: 3px 0;
    }
    
    
    .masfotos {
        position: absolute;
        font-size: 1.1em;
        bottom: 1%;
        left: 100%;
        width: 5em;
        background-color: rgba(14, 12, 12, 0.5);
        border-radius: 5px;
        color: #fff;
        border: none;
        padding: 0.3em;
        margin-bottom: 5px;
        margin-right: 5px;
        text-transform: uppercase;
    }
}