.contenedor-depto{
    margin: 5em
}

.nombre-depto {
    margin-top: 30px;
    text-transform: uppercase; 
    font-size: 36px;
}

.seccion1 {
    display: flex;
    margin: 30px 0px;
}

.texto-desc {
    line-height: 180%;
}

.seccion2 {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}

.hola {
    width: 40px;
    height: 40px;
    margin-left: 65px;
    margin-top: 35px;
}

.chau {
    padding-left: 50px;
    padding-top: 12px;
    font-size: 18px;
    text-transform: uppercase;
}


/*iconos servicios*/
#personas {
    background: url(https://image.flaticon.com/icons/svg/478/478536.svg);
}
#pileta {
    background: url(https://image.flaticon.com/icons/svg/853/853788.svg);
}
#balcon {
    background: url(https://image.flaticon.com/icons/svg/82/82490.svg);
}
#piso {
    background: url(https://image.flaticon.com/icons/svg/544/544917.svg);
}
#ascensor {
    background: url(https://image.flaticon.com/icons/svg/887/887331.svg);
}
#wifi {
    background: url(https://www.flaticon.com/svg/vstatic/svg/297/297186.svg?token=exp=1611593651~hmac=78a796572ae09a9248396e8103816550);
}

#ac {
    background: url(https://www.flaticon.com/svg/vstatic/svg/911/911511.svg?token=exp=1611593758~hmac=097181df73a966abc57d0c3257b53119);
}

#pet {
    background: url(https://www.flaticon.com/svg/vstatic/svg/884/884183.svg?token=exp=1611593871~hmac=36f3e19b39a274666303de481051409d);
}

.seccion3 {
    margin: 50px 0px;
}

.seccion4 {
    margin-top: 30px !important;
}