.navbar {
  position: sticky;
  background-color: #333332 !important;
  height: 10vh;
  padding-left: 6rem;
  padding-right: 6rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 5rem;
  border-radius: 100%;
}

.navbar-nav {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.link-nav {
  padding-right: 5%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9em;
}

.link-nav:hover {
  cursor: pointer;
  color: #f8c217;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#button-container {
  width: 10%;
}

#btn_r {
  color: #333332;
  font-size: 1.5rem;
  background-color: #fff;
  height: 50%;
  font-weight: bold;
  font-family: 'Roboto';
  float:right;
}

@media only screen and (max-width: 767px) {

  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .navbar-nav {display: none;}
  .content-mobile {display: block;} 

  .logo {
    width: 4rem;
    border-radius: 100%;
  }

  .link-nav.dropdown {
    color: #333332 !important;
  }

  #btn_r {
    font-size: 0.6em;
    color: #333332 !important;
    background-color: #fff !important;
    height: 50%;
    font-weight: bold;
    font-family: 'Roboto';
    float:right;
  }
  .dropdown-menu a {
    font-size: 1.1em !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-nav {display: flex;}
  .content-mobile {display: none;}

  .link-nav {
    padding-right: 3%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.7em;
  }

  .navbar a {
    color:#fff !important;
  }
  
  .navbar a:hover {
    cursor: pointer;
    color: #f8c217;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  #btn_r {
    font-size: 0.5em;
    color: #333332 !important;
    background-color: #fff !important;
    height: 50%;
    font-weight: bold;
    font-family: 'Roboto';
    float:right;
  }
}

@media only screen and (min-width: 768px) and (max-width: 850px) {
  .navbar-nav {display: flex;}
  .content-mobile {display: none;}

  .link-nav {
    padding-right: 3%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.5em;
  }

  

}

@media only screen and (min-width: 1025px) {
  .navbar-nav {display: flex;}
  .content-mobile {display: none;}

  .link-nav {
    padding-right: 5%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
  }
  
  .link-nav:hover {
    cursor: pointer;
    color: #f8c217;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .navbar a {
    color:#fff !important;
  }
  
  .navbar a:hover {
    cursor: pointer;
    color: #f8c217 !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  #button-container {
    width: 10%;
  }
  
  #btn_r {
    color: #333332 !important;
    font-size: 1.5rem;
    background-color: #fff !important;
    height: 50%;
    font-weight: bold;
    font-family: 'Roboto';
    float:right;
  }
}