.page-footer{
    background: url("https://firebasestorage.googleapis.com/v0/b/best-at-3697b.appspot.com/o/fondos%2Fpizarra.jpg?alt=media&token=45f07316-4a32-4a9e-8cb6-e65353ddd68f");
    color:white;
}

a {
    color:white;
}

.titulo-footer {
    display: block;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-weight: 300;
    font-size: 1em;
}

.social-media {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding: 1em 2em;
}

.social-media a:hover {
    cursor: pointer;
    color: #f8c217;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.img-pay {
    margin: 2%;
}

#payments {
    background-color: #fff;
}

.copyright {
    font-size: 2em;
    line-height: 2em;
}

.copyright a {
    color: #f8c217 !important;
}

@media (min-width:300px) and (max-width:375px){
    .copyright {
        font-size: 1.5em;
        line-height: 2em;
    }

#payments {
    background-color: #fff;
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
}

.img-pay {
    margin: 2%;
    height: 50%;
    display: block;
    margin: auto;
}
}


